html, body {
    margin: 0;
    padding: 0;
}

.first-div {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border : 0px solid ;
}

.Main-Logo {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 230px;
}

.Edu-Btn {
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
    color: #25262B;
    font-size: 14px;
}

.seperate {
    margin: 0 8px;
    padding: 0;
    color: #D5DBED;
}

.Career-Logo {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 5px;
}

.Car-Btn {
    border: none;
    background-color: white;
    color: #868E92;
    font-size: 14px;
    cursor: pointer;
}

.Meun {
    margin-left: 950px;; 
    display: flex;
    gap: 5px; 
    

}

.Meun button {
    border: none;
    background-color: white;
    color : #1A1B1E;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
}

.Meun button:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: 0;
    color: #ccc;
}

.second-div {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 250px;
    border-top: 1px solid #ccc;
    position: relative;
}

.Infearn-img {
    height: 20px;   
    cursor: pointer;            
}

.Btn-Container {
    display: flex;
    gap: 10px;                  
}

.Btn-Container button {
    border: none;
    background-color: white;
    font-weight: bold;
    color: #2C2E33;
    font-size: 16px;
    cursor: pointer;
}

.N-Btn {
    position : relative;
    border : none;
    background-color: #FA5252;
    border-radius : 25px;
    color : white ;
    top : -15px;
    left : -225px;
}

.input {
    display : flex;
    padding : 10px;
    border : 1px solid #ced4da;
    width : 700px;
    height : 17px;
    border-radius : 9px;
    background-color : #F6F6F6;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -5px;
}

.Korean-Container {
    display: flex;
    align-items: center;
    gap : 5px;
    padding : 15px;
    cursor: pointer;
}

.World-Logo {
    width : 14px;
    height : 30px;
}

.Korean {
    font-size : 14px;
    margin-top : 3px;
    color : #868E92
}   

.Login-Btn {
    background-color : #00C471;
    color : white;
    border : none;
    border-radius : 6px;
    width : 65px;
    height : 38px;
    padding : 13px;
    cursor: pointer;
}

.Search-Logo {
    width : 25px;
    height : 20px;
}

.Search {
    display: flex;
    flex-direction: column; 
    padding-left : 270px;
    cursor: pointer;
}

.search-text {
    display: flex;
    gap: 35px; 
    color : #868E92;
}

.sep {
    color: #a7a7a7;
    font-size: 30px;
    position: relative;
    top: -20px;
}

.Ai-Logo-List {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;           
    align-items: center;     
    gap: 25px;               
}

.Ai-Logo-List li {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 10px;        
    font-size: 13px;    
    cursor: pointer;  
    position: relative;
    top : -17px;  
}

.Ai-Logo-List img {
    width: 24px;    
    height: 24px;  
    object-fit: contain;  
    margin-right: 8px; 
    vertical-align: middle; 
    cursor: pointer;
  }